<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.article.item.ArticleReadActivity"
            android:exported="true" />
        <activity
            android:name=".system.ActivitySignUp"
            android:exported="true"/>
        <activity
            android:name=".system.ActivityLogIn"
            android:exported="true"/>
        <activity
            android:name=".main_func.caregiver.CaregiverActivity"
            android:exported="true"/>
        <activity
            android:name=".main_func.caregiver.CaregiverEditActivity"
            android:exported="true"/>
        <activity
            android:name=".main_func.caregiver.CaregiverDurationActivity"
            android:exported="true"/>
        <activity
            android:name=".main_func.caregiver.CaregiverSelectActivity"
            android:exported="true"/>
        <activity
            android:name=".main_func.caregiver.CaregiverDateActivity"
            android:exported="true"/>
        <activity
            android:name=".system.ActivityVerified"
            android:exported="true"/>
        <activity
            android:name=".main_func.home_care.HomeCareActivity"
            android:exported="true"/>
        <activity
            android:name=".main_func.home_care.HomeCareEditActivity"
            android:exported="true"/>
        <activity
            android:name=".main_func.home_care.HomeCareDurationActivity"
            android:exported="true"/>
        <activity
            android:name=".main_func.home_care.HomeCareSelectActivity"
            android:exported="true"/>
        <activity
            android:name=".main_func.home_care.HomeCareDateActivity"
            android:exported="true"/>
        <activity
            android:name=".main_func.shop.ShopActivity"
            android:exported="true"/>
        <activity
            android:name=".main_func.shop.ProductDetailActivity"
            android:exported="true"/>
        <activity
            android:name=".main_func.shop.OrderActivity"
            android:exported="true"/>
        <activity
            android:name=".main_func.shop.CheckoutActivity"
            android:exported="true"/>
        <activity
            android:name=".main_func.shop.SellerActivity"
            android:exported="true"/>
        <activity
            android:name=".system.ChatActivity"
            android:exported="true"/>

    </application>

</manifest>